extends layout

block content
    div#container
        div#title
            h1. Valar Morghulis
            h2. A Data Warehouse Project on Character Deaths in <i>A Song of Ice and Fire</i>
        form(method="get")
            p
                | How many
                select(name="gender")
                    each gender in form.genders
                        option(value="#{gender.id}", selected=gender.selected)= gender.name
                | &nbsp;characters
                br
                | aged
                select(name="age")
                    each age in form.ages
                        option(value="#{age.id}", selected=age.selected)= age.name
                br
                | from
                select(name="region")
                    each region in form.regions
                        option(value="#{region.id}", selected=region.selected)= region.name
                br
                | who are pledged to&nbsp;
                select(name="affiliation")
                    each affiliation in form.affiliations
                        option(value="#{affiliation.id}", selected=affiliation.selected)= affiliation.name
                br
                | and worship&nbsp;
                select(name="religion")
                    each religion in form.religions
                        option(value="#{religion.id}", selected=religion.selected)= religion.name
                br
                | are&nbsp;
                select(name="dead")
                    each dead in form.deads
                        option(value="#{dead.id}", selected=dead.selected)= dead.name
            input(type="hidden", name="submitted", value="1")
            input(type="submit", value="?", class="submit")
        if (typeof(results) !== 'undefined')
            div.results
                h2.answer
                    if (results.characters.length == 1)
                        | There is <span class="value">1</span>
                    else
                        | There are <span class="value">#{ results.characters.length }</span>
                    if (form.genders.selected && ! form.genders.selected.any)
                        |  <span class="value">#{ form.genders.selected.name.toLowerCase() }</span>
                    if (results.characters.length == 1)
                        |  character
                    else
                        |  characters
                    if (form.ages.selected && ! form.ages.selected.any)
                        |  aged <span class="value">#{ form.ages.selected.name }</span>
                    if (form.regions.selected && ! form.regions.selected.any)
                        |  from <span class="value">#{ form.regions.selected.name }</span>
                    if (form.affiliations.selected && ! form.affiliations.selected.any)
                        |  pledged to <span class="value">#{ form.affiliations.selected.name }</span>
                    if (form.religions.selected && ! form.religions.selected.any)
                        if (results.characters.length == 1)
                            |  who worships <span class="value">#{ form.religions.selected.name }</span>
                        else
                            |  who worship <span class="value">#{ form.religions.selected.name }</span>
                    if (form.deads.selected && ! form.deads.selected.any)
                        if (results.characters.length == 1)
                            |  who is <span class="value">#{ form.deads.selected.name.toLowerCase() }</span>
                        else
                            |  who are <span class="value">#{ form.deads.selected.name.toLowerCase() }</span>
                    | .
                if (results.averageAge)
                    h4.average-age
                        | Their average age is <span class="value">#{ results.averageAge }</span> years-old.
                if (results.bloodiestBook)
                    h4.bloodiest-book
                        | <span class="value">#{ results.bloodiestBook }</span> was their bloodiest book.
                if (results.characters)
                    h4.characters They are:
                    ul
                        each character in results.characters
                            if (character.is_dead)
                                li.is-dead #{ character.name }, #{ character.age }
                            else
                                li #{ character.name }, #{ character.age }
